
/*
 * Copyright (c) 2024 Albert Niyonsenga
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&arduino_spi {
    status = "okay";

    imu0: icm42670@0 {
		compatible = "invensense,icm42670";
		spi-max-frequency = <24000000>;
		reg = <0>;
		int-gpios = <&hsgpio1 22 GPIO_ACTIVE_HIGH>;
		accel-hz = <1600>;
		gyro-hz = <1600>;
		accel-fs = <8>;
		gyro-fs = <2000>;
	};
};

&arduino_i2c1 {
	status = "okay";

	fuelgauge0: max17262@36 {
		compatible = "maxim,max17262";
		reg = <0x36>;
		design-voltage = <4200>;
		desired-voltage = <4200>;
		desired-charging-current = <1000>;
		design-cap = <2000>;
		empty-voltage = <3300>;
		recovery-voltage = <3880>;
		charge-voltage = <3600>;
		status = "okay";
	};
};
&arduino_i2c2 {
	status = "okay";

	magnetometer0: mmc56x3@30 {
		compatible = "memsic,mmc56x3";
		reg = <0x30>;
		magn-odr = <250>;
		bandwidth-selection-bits-0;
		bandwidth-selection-bits-1;
		auto-self-reset;
		status = "okay";
	};
};