[submodule "firmware/simple-osc/frdmrw612_wifi_webconfig/libmapper-freertos"]
	path = firmware/simple-osc/frdmrw612_wifi_webconfig/libmapper-freertos
	url = https://github.com/aburt2/libmapper-freertos.git
	branch = freertos-port
